# Core dependencies
py7zr==0.21.0
pyncclient==0.7
APScheduler==3.10.1
requests==2.31.0
pytz==2024.1

# Compression dependencies
multivolumefile==0.2.3
Brotli==1.1.0
pybcj==1.0.2
pycryptodomex==3.20.0
pyppmd==1.1.0
pyzstd==0.16.0
inflate64==1.0.0
psutil==5.9.8

# Utilities
certifi==2024.2.2
charset-normalizer==3.3.2
idna==3.6
urllib3==2.2.1
six==1.16.0
texttable==1.7.0

